*{
    margin: 0;
    padding: 0;

    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

body{
    width: 800px;
    height: 850px;
}

.container{
    width: 100%;
    height: 100%;

    background-color: #204e92;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    gap: 40px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notice{
    width: 220px;
    height: 54px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    background-color: white;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
}

.notice > span {
    font-size: 24px;
    font-weight: 900;

    color: #204e92;
}

.main{
    width: 660px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    background-color: white;
    border-radius: 26px;
}

.title{
    font-weight: 900;
    font-size: 46px;
    color: #1e2f48;

    line-height: 170%;
}

.title > strong {
    display: block;
    font-size: 85px;
    color: #204e92;
}

#eg{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.main > #eg {
    color: #777;
}


#date{
    font-size: 34px;
    font-weight: 900;
    color: #204e92;
}

.obj{
    position: absolute;
    top: 75%;
    left: 80%;
}